<!-- templates/asignar_calificacion.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Calificación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
        <h1>Asignar Calificación</h1>
    </div>
    <div class="section">
        <a href="{% url 'detalle_curso' curso.id %}">
            <button class="red-button">Volver al detalle de curso</button> 
        </a>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
            <button class="red-button">Guardar Calificación</button>
        </form>
        
    </div>
    </div>
</body>
</html>
