<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Evaluación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
    <h1>Crear Evaluación para {{ curso.nombre }}</h1>
</div>
<div class="section">
    <a href="{% url 'detalle_curso' curso.id %}">
        <button class="red-button">Volver al detalle de curso</button> 
    </a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
        <button class="red-button">Crear Evaluación</button>
    </form>
    
</div>
</div>
</body>
</html>
