<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Evaluación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
</head>
<body>
    <h1>Crear Evaluación para {{ curso.nombre }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear Evaluación</button>
    </form>
    <a href="{% url 'detalle_curso' curso.id %}">
        <button>Volver al detalle de curso</button> 
    </a>
</body>
</html>
