<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar clave</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="recover-box">
            <h1>Recuperar clave</h1>

            <!-- Bloque para mostrar los mensajes de éxito o error -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar instrucciones</button>
            </form>
            <p>Después de enviar, revisa tu correo para las instrucciones de recuperación.</p>
            <a href="{% url 'login' %}">Volver a iniciar sesión</a>
        </div>
    </div>
</body>

</html>