<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container registro-container">
        <div class="title-container">
            <h1>Registro de Usuario</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button type="submit">Registrar</button>

            <a href="{% url 'login' %}">
                <button type="button">Regresar</button>
            </a>
    
        </form>
    </div>
</body>
</html>
